<!DOCTYPE html>
<html>
<head>
    <title>Store</title>
</head>
<body>
<form action="/products-info" method="post">
    <h1> ELECTRONICS STORE </h1>
    <hr>
    <h4>Product details</h4>
    <#list images as img>
    <img src="/images/${img.id}" height="60px"/><br><br>
</list>
<b>Product name:</b> ${product.title}<br>
<b>Product description:</b> ${product.description}<br>
<b>Price:</b> ${product.price}<br>
<b>City:</b> ${product.city}<br>
<b>Author:</b> <a href="/user/${product.user.id}"></a><br>
<form action="/products/delete/${product.id}" method="post">
    <input type="submit" value="Delete the goods">
</form>
</form>
</body>
</html>

